@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,900);

body{
    background-color: #333;
    font-family: Lato, Helvetica, sans-serif;
    color: #4EA5D9; 
}

h1 {
    font-size: 2.25em;
    padding: 1em;
    text-align: center;
}
h1, h2 {
    font-weight: 900;
}

h2, h3, h4 {
    color: #fff;
}

h3, h4, a {
    font-weight: 400;
}

h2 {
    margin-bottom: 0.75em;
}
h3 {
    margin: 0;
    line-height: 1.5;
}

p {
    font-size: 20px;
}

#container {
    max-width: 95vw;
    margin: auto;
}

#spotify-form {
    /*display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-gap: 2em;*/
    margin: auto;
    width: 100%;
    margin-bottom: 5em;

}

#search {
    width: 70%;
    margin-right: 2em;
    margin-bottom: 1em;
}

label {
    margin-right: 1em;
}

#sortBy {
    margin-top: 1em;
}

#results-list {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    grid-auto-rows: 1fr;
    justify-content: center;
    justify-items: left;
    padding-left: 0;
    width: 100%;

}

li.track {
    display: grid;
    grid-row-gap: 3em; /*gap between track information and audio player*/
    grid-auto-rows: 1fr auto;
    grid-column: 1 / -1;
}

input{    
    height: 3em;  
    margin-top: 30px;
    font-family: Lato;  
    background-color: transparent;
    border: 3px solid #4EA5D9;    
    outline: none;
    text-align: center;
    color: #4EA5D9; 
  }

  input[type=submit] {
    background-color:  #4EA5D9;
    color: #fff;
    font-weight: 900; 
  }

  label, input, select {
      font-size: 28px;
  }
  #submit, #search {
    width: 100%;
}

select {
    width: 90%;
}
  @media all and (min-width: 420px) {
    ul#results-list {
        grid-template-columns: repeat(12, 1fr); /*12 columns instead of 4 will help make the website responsive for smakller screen sizes, 12 is divisible by many different numbers */
    }
    li.track {
        grid-column: span 6;
    }

 
}

@media all and (min-width: 1080px) {
    li.track {
        grid-column: span 4;
    }

    input, label, select {
        font-size: 18pt;
    }

    select, #submit {
        width: 25%;
    }
}

  @media all and (min-width: 1400px) {
        li.track {
            grid-column: span 3; 
        }
  }


  